<html>
  <head>

  <script src="https://js.stripe.com/v1/"></script>
  <script src="js/jquery.js"></script>
  <script>
    Stripe.setPublishableKey('PUBLISHABLE_KEY');
    $(document).ready(function() {
      $("#payment-form").submit(function(event) {
        // disable the submit button to prevent repeated clicks
        $('.submit-button').attr("disabled", "disabled");

        Stripe.createToken({
            number: $('.card-number').val(),
            cvc: $('.card-cvc').val(),
            exp_month: $('.card-expiry-month').val(),
            exp_year: $('.card-expiry-year').val()
        }, stripeResponseHandler);

      function stripeResponseHandler(status, response) {
        if (response.error) {
            alert("error");
            // show the errors on the form
            $(".payment-errors").text(response.error.message);
			// re-enable the submit button after error
			$('.submit-button').removeAttr('disabled');
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
            // and submit
            form$.get(0).submit();
        }
      }

        // prevent the form from submitting with the default action
        return false;
      });
    });
  </script>

  </head>
  <body>
  <form action="pay" method="POST" id="payment-form">
    <div class="form-row">
      <label>Amount</label>
      <input name="amount" type="number" step="0.05" min="0.00" value="1.50" />
    </div>
      <div class="form-row">
          <label>Card Number</label>
          <input type="text" size="20" autocomplete="off" class="card-number" value="4242424242424242" />
      </div>
      <div class="form-row">
          <label>CVC</label>
          <input type="text" size="4" autocomplete="off" class="card-cvc" value="123" />
      </div>
      <div class="form-row">
          <label>Expiration (MM/YYYY)</label>
          <input type="text" size="2" class="card-expiry-month" value="12" />
          <span> / </span>
          <input type="text" size="4" class="card-expiry-year" value="2014" />
      </div>
      <button type="submit" class="submit-button">Submit Payment</button>
  </form>

  </body>
</html>